@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply min-h-screen bg-cover relative;
  }
  strong {
    font-weight: inherit;
  }
}

@layer components {
  .flexRow {
    @apply flex flex-row;
  }

  .flexCol {
    @apply flex flex-col;
  }

  .flexRowCenter {
    @apply flexRow justify-center items-center;
  }

  .flexColCenter {
    @apply flexCol justify-center items-center;
  }

  .footerText {
    @apply font-semibold underline underline-offset-4 text-sm cursor-pointer;
  }

  .opacity-from-zero {
    @apply opacity-0 transition-[opacity] duration-100;
  }

  .interaction-outline {
    @apply outline outline-gray-300;
  }
}

@layer utilities {
  .polygon-equilateral-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .styled-scroll {
    & {
      scrollbar-gutter: stable;
    }
    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: transparent;
    }
    &::-webkit-scrollbar {
      width: 16px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border: 4px solid transparent;
      border-radius: 8px;
      background-color: theme('colors.gray.400');
    }
  }
}
