@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../src/shared/ui/foundation/fonts/pretendard-variable.woff2') format('woff2-variations');
}

body {
  color: white; /* FIXME: 임시 기본 컬러 */

  /* 실 코드에선 css 가 아닌 next-font 의 localFont 사용 */
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
